<app-menu></app-menu>
<h3>Expense List</h3>

<table class="table table-striped table-sm" *ngIf="expenses">
    <thead>
        <tr>
            <th><button (click)="sortFn('id')" class="btn btn-link">Id</button></th>
            <th><button (click)="sortFn('desc')" class="btn btn-link">Description</button></th>
            <th><button (click)="sortFn('status')" class="btn btn-link">Status</button></th>
            <th><button (click)="sortFn('total')" class="btn btn-link">Total</button></th>
            <th><button (click)="sortFn('employeeName')" class="btn btn-link">Employee</button></th>
            <th>Employee</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exp of expenses | sort:sortColumn: sortAsc">
            <td>{{ exp.id }}</td>
            <td>{{ exp.desc }}</td>
            <td>{{ exp.status }}</td>
            <td>{{ exp.total | currency }}</td>
            <td>{{ exp.employee.name }}</td>
            <td>
                <a routerLink='/exp/detail/{{exp.id}}'>Detail</a> |
                <a routerLink="/exp/edit/{{exp.id}}">Edit</a> | 
                <a routerLink="/explines/{{exp.id}}">Lines</a>
            </td>
        </tr>
    </tbody>
</table>
<button (click)="create()" class="btn btn-primary">Create Expense</button> |
<button (click)="viewAll()" class="btn btn-primary">View All</button> |
<button (click)="allApproved()" class="btn btn-primary">View All Approved</button>
