<app-menu></app-menu>
<p>Expense List</p>

<table class="table table-striped table-sm" *ngIf="expenses">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Status</th>
            <th>total</th>
            <th>Employee</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exp of expenses">
            <td>{{ exp.id }}</td>
            <td>{{ exp.desc }}</td>
            <td>{{ exp.status }}</td>
            <td>{{ exp.total | currency }}</td>
            <td>{{ exp.employee.name }}</td>
            <td>
                <a routerLink='/exp/detail/{{exp.id}}'>Detail</a> |
                <a routerLink="/exp/edit/{{exp.id}}">Edit</a> | 
                <a routerLink="/explines/{{exp.id}}">Lines</a>
            </td>
        </tr>
    </tbody>
</table>
<button (click)="create()" class="btn btn-primary">Create Expense</button> |
<button (click)="viewAll()" class="btn btn-primary">View All</button> |
<button (click)="allApproved()" class="btn btn-primary">View All Approved</button>
